pandas~=2.0.3
librosa~=0.11.0
opencv-python~=4.11.0.86
fastparquet
fastavro~=1.9.7
yaml~=0.2.5
pypdf~=5.4.0
beautifulsoup4~=4.13.3
requests~=2.32.3
python-dotenv~=1.0.1
google-api-python-client~=2.166.0
googlesearch-python
praw~=7.8.1
bs4~=0.0.2
dotenv~=0.9.9
wikipedia-api~=0.8.1
openpyxl
xlsxwriter
pyyaml~=6.0.2
numpy~=1.24.3
gdown~=5.2.0
openpyxl
seaborn
matplotlib
tabula-py